*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* #header_area{
    width: 100%;
    height: fit-content;
} */

#header_area{
    width: 100%;
    min-height: 70vh;
    background-image: url(/image/bg\ image-01.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Poppins", sans-serif;
}


.nav_side{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
}

.nav_side h3{
    color: white;
    font-weight: 600;
}

.header_contain{
    flex: 1;
    text-align: right;
}

.header_contain ul li{
    display: inline-block;
    margin: 0px 15px;
    list-style: none;
    position: relative;
}

.header_contain ul li a{
    color: white;
    text-decoration: none;
}

.header_contain ul li::after{
    content: "";
    width: 0;
    height: 3px;
    background: #000;
    display: block;
    margin: auto;
    position: absolute;
    transition: 0.4s;
}
.header_contain ul li a:hover{
    color: rgb(230, 230, 230);
}
.header_contain ul li:hover::after{
    width: 100%;
}

.header_contain ul li a:active{
    color: rgb(33, 71, 177);
}

.profile_image{
    width: 25.1%;
    position: absolute;
    top: 0%;
    left: 65%;
}


.text_area{
    width: 50%;
    margin-top: 6%;
    margin-left: 4%;
    position: absolute;
    color: white;
}
.text_area h1{
    font-weight:900;
    letter-spacing: 2px;
}

.text_area p{
    margin-bottom: 20px ;
}
.text_area a{
    display: inline-block;
    background: transparent;
    border-radius: 3px;
    padding: 6px 16px;
    text-decoration: none;
    border: solid 1px white;
    color: white;
    position: relative;
}

.text_area a:hover{
    background: #2baaff;
    transition: 0.2s;
}
nav span{
    display: none;
}


@media(max-width: 700px){
    .text_area{
        width: 90%;
        margin-top: 6%;
        margin-left: 4%;
        position: absolute;
        color: white;
        text-align: center;
    }
    .text_area h1{
        font-weight: 400;
        letter-spacing: normal;
    }    
    nav span{
        display: block;
        color: white;
        margin: 0 10px;
        cursor: pointer;
        font-size: 20px;
    }
    .header_contain{
        position: absolute;
        background: rgba(0, 0, 0, 0.788);
        height: 70vh;
        width: 300px;
        top: 0;
        right: -300px;
        text-align: left;
        transition: 2s;
        z-index: 1;
    }

    .header_contain ul li{
        display: block;
        margin: 10px 0;
    }

    .header_contain ul{
        padding: 20px;
    }

    .profile_image{
        width: 68.9%;
        position: absolute;
        top: 30%;
        left: 20%;
    }
    .header_contain ul li:hover::after{
        width: 0px;
    }
    .header_contain ul li a:hover{
        color: #02a2ec;
    }
}
/* __________________________________about me_________________________ */
.about_area{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 100px;    
}

.row{
    display: flex;
    margin: 4%;
    justify-content: space-between;
}
.about_area h1{
    text-align: center;
    text-decoration: underline;
}

.vector_profile_image{
    flex-basis: 50%;
    border-radius: 10px;
    margin: 2%;
}

.vector_profile_image img{
    width: 50%;
    border-radius: 50%;
    border: solid 2px rgb(233, 233, 233);
    background: #f8f8f8;
}


.vector_profile_image h4{
    margin: 10px 0;
    text-align: left;
}

.vector_profile_image p{
    text-align: left;
    color: #555555;
    line-height: 20px;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* ---------------------------------------My skill------------------------------------ */

.My_Skills{
    width: 80%;
    margin: auto;
    background: #c0858528;
    text-align: center;
 }

.My_Skills h1{
    padding: 20px;
    font-weight: 900;
    text-decoration: underline;
}

.my_skill_row{
    display: flex;
    justify-content: space-between;
}
.qualification{
    flex-basis: 45%;
    border-radius: 10px;
    margin: 2%;
}

.qualification h4{
    text-align: left;
    margin: 4%;
}
.qualification h3{
    text-align: left;
    margin: 2%;
}

.qualification p{
    text-align: justify;
    margin: 4%;
    color: #5c5c5c;
    line-height: 20px;
}


.qualification ul li{
    list-style: none;
    margin-top: 20px 0; 
}


.qualification .bar{
    display:block;
    height: 2px;
    border: solid 2px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px #d5e0f5;
}

.qualification .bar span{
    display: block;
    height: 5px;
    float: left;
    background: #000000;
}

.Ps{
    width: 90%;
}

.Ai{
    width: 50%;
}