*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* #header_area{
    width: 100%;
    height: fit-content;
} */

#header_area{
    width: 100%;
    min-height: 70vh;
    background-image: url(/image/bg\ image-01.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Poppins", sans-serif;
}


.nav_side{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
}

.nav_side h3{
    color: white;
    font-weight: 600;
}

.header_contain{
    flex: 1;
    text-align: right;
}

.header_contain ul li{
    display: inline-block;
    margin: 0px 15px;
    list-style: none;
    position: relative;
}

.header_contain ul li a{
    color: white;
    text-decoration: none;
}

.header_contain ul li::after{
    content: "";
    width: 0;
    height: 3px;
    background: #000;
    display: block;
    margin: auto;
    position: absolute;
    transition: 0.4s;
}
.header_contain ul li a:hover{
    color: rgb(230, 230, 230);
}
.header_contain ul li:hover::after{
    width: 100%;
}

.header_contain ul li a:active{
    color: rgb(33, 71, 177);
}

.profile_image{
    width: 24.9%;
    position: absolute;
    top: 0%;
    left: 65%;
}


.text_area{
    width: 50%;
    margin-top: 6%;
    margin-left: 4%;
    position: absolute;
    color: white;
}
.text_area h1{
    font-weight:900;
    letter-spacing: 2px;
}

.text_area p{
    margin-bottom: 20px ;
}
.text_area a{
    display: inline-block;
    background: transparent;
    border-radius: 3px;
    padding: 6px 16px;
    text-decoration: none;
    border: solid 1px white;
    color: white;
    position: relative;
}

.text_area a:hover{
    background: #2baaff;
    transition: 0.2s;
}
nav span{
    display: none;
}


@media(max-width: 700px){
    .text_area{
        width: 90%;
        margin-top: 6%;
        margin-left: 4%;
        position: absolute;
        color: white;
        text-align: center;
    }
    .text_area h1{
        font-weight: 400;
        letter-spacing: normal;
    }    
    nav span{
        display: block;
        color: white;
        margin: 0 10px;
        cursor: pointer;
        font-size: 20px;
    }
    .header_contain{
        position: absolute;
        background: rgba(0, 0, 0, 0.644);
        height: 100vh;
        width: 300px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 1;
    }

    .header_contain ul li{
        display: block;
        margin: 10px 0;
    }
}

